@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 


    
    //This page creates a component view that will be used for filtering in a nav bar
}

@model IEnumerable<string>


<div class="d-grid gap-1 w-100">

    <a asp-controller="Home" asp-action="Index" asp-route-bookType="" asp-route-pageNum="" class="btn btn-secondary w-100">All books</a>

    @foreach (string type in Model)
    {
        <br />
        <a asp-controller="Home" asp-action="Index" asp-route-bookType="@type" asp-route-pageNum="1" class="btn w-100 @(ViewBag.SelectedType == type ? " btn-primary" : "btn-secondary" )">@type</a>
    }

</div>