@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel




<h1 class="text-black-50">Welcome to your new Home of books! Find my favorite books!</h1>
<div class="p-4 rounded-lg" style="background-color: #cecece">


    @foreach (Book book in Model.Books)
    {
        <partial name="BookSummary" model="book" />
    }

    @*Old Code, not in use anymore but keep!*@
    
</div>
    <div class="d-flex justify-content-center" page-model="@Model.PageInfo" page-action="Index"></div>