@page
@model Mission7.Pages.DonationsCompletedModel
@{

    // This page is the confirmation page after paying

}
<div class="text-center">
    <h2> Thank you for your Order!</h2>
    <a class="btn btn-primary" asp-controller="Home"> Return Home</a>
</div>